body{
    background: #E5E5E5;
}
header img{
    width: 30px;
}
.menubar{
    display:flex;
    justify-content: flex-end;
    margin: 0 10px;
}

.br_color{
    background: #562EFF;
}
.br_color1{
    color: white;
}

#banner{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 60px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 20px;
}


.members{
    display: flex;
    justify-content: flex-start;

}
.management{
    margin-left: 80px;
}
#course{
    padding-top: 100px;
    padding-bottom: 100px;
    background:  #ffffff;
    margin-top: 20px;
    border-radius: 20px;
}
.whole_courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    place-content: center;
}
.clock{
    background: lightpink;
    padding: 5px;
    border-radius: 20px;
}
.heading_title{
    color: yellowgreen;
    font-weight: 600;
    padding-left: 20px;
}
